/* default styling removal */

*{
    padding: 0px;
    margin: 0px;
    box-sizing:border-box ;
}

.d-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


li{
    list-style-type: none;
    
}

ul li a{
    padding: .5rem .5rem;
    font-family: Agency FB;
    font-weight: 900;
    font-size: 1.2rem;
}


a{
    text-decoration: none;
    color:rgb(133, 135, 136);
    text-transform: uppercase;
    
}



/* End of derfault styling */

.header{
    width: 100%;
    padding: 1rem;
    border-bottom: 2px solid burlywood;
}

.company-name{
    width: 25%;
    /* background-color: darkgoldenrod; */
    font-size: 2rem;
}

.navigation{
    width: 50%;
    /* background-color: burlywood; */
}

.navigation a:hover{
    color: burlywood;
}

.svg-container{
    width: 25%;
    /* background-color: chocolate; */
}

.svg{
    width: 2vw;
    color: burlywood;
    cursor: pointer;
}

