/* default styling removal */

*{
    padding: 0px;
    margin: 0px;
    box-sizing:border-box ;
    /* overflow: hidden; */
}

body,html{
    width: 100%;
}

.d-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex{
    display: flex;
    justify-content:center;
    align-items: center;
}



li{
    list-style-type: none;
    
}

ul li a{
    padding: .5rem .5rem;
    font-family: candara;
    font-weight: 900;
    font-size: 1rem;
    text-decoration: none;
    color: #333;
}


a{
    text-decoration: none;
    color:rgb(133, 135, 136);
    text-transform: uppercase;
    
}

.inherit{
    width: inherit;
    height: inherit;
}



/* End of derfault styling */

.header{
    width: 100%;
    height: 15vh;
    padding: 1.4rem;
    border-bottom: 2px solid burlywood;
    /* position: fixed;
    top: 0;
    z-index: 1; */
    background-color: #fff;

}

.Logo{
    height: 95%;
}
.company-name{
    width: 25%;
    height: 50%;

}


.navigation{
    width: 50%;
 
}

.navigation ul{
    margin: .5rem 0 ;
}

.navigation a:hover{
    transition: all .5s ease 0s;
    color: burlywood;
}

.svg-container{
    width: 25%;
}

.svg{
    width: 2vw;
    cursor: pointer;
}

/* HERO */

.hero-wrapper{
    width: 100%;
    min-height: 85vh;
    box-sizing: border-box;
    /* position: relative;
    top: 15vh; */
}

.hero{
    width: 95%;
    height: 95vh;
    margin: 1rem 1rem;
}

.hero:hover{
    transition: all .5s ease-in-out 0s;
    box-shadow: 0 0 10px 2px #333;
}

.hero img{
    width: 100%;
    height: inherit;
}


/* BOUTIQUES */

.boutiques-container{
    width: 100%;
    min-height: 100vh;
}

.boutiques{
    width: 95%;
    height: 90vh;

}

.boutiques-content{
    height: 100%;
    width: 100%;
}

.boutiques-content img{
    width: 100%;
    height: 100%;
}

.form{
    width: 100%;
    height: 90vh;
}



/* FOOTER */

.footer{
    /* position: relative; */
    width: 100%;
    height: 30vh;
    background-color: #333;
}
