/* default styling removal */

*{
    padding: 0px;
    margin: 0px;
    box-sizing:border-box ;
}

.d-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li{
    list-style-type: none;
    
}

ul li a{
    padding: .5rem .5rem;
    font-family: Agency FB;
    font-weight: 900;
}


a{
    text-decoration: none;
    color:rgb(133, 135, 136);
    text-transform: uppercase;
    
}



/* End of derfault styling */

.header{
    width: 100%;
    background-color: #15151554;
    padding: 1rem;
}


