
.account-wrapper{
    background-color: #000000e8;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.account-form-container{
    width: 35%;
    height: 70%;
    border-radius: 6px;
    background-color:#fff ;
}

.account-button{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: end;
}

.account-form{
    height: 90%;
    width: 80%;
}

.account-form-auth{
    height: 40%;
    width: 80%;
}

.login-form-email{
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.541);
    background-color: transparent;
    outline: 0;
    width: 20vw;
}

.login-form-email::placeholder{
    color:rgba(0, 0, 0, 0.541); 
    padding: .2rem;
}

.account-submit-button{
    background-color:rgba(0, 0, 0, 0.993) !important; 
    width: 20vw;
    

}

/* .Login-submit-button:hover{
    background-color:#201007 !important; 

} */

.forget-password{
color: rgba(0, 0, 255, 0.329);

}